<h2>Add site: </h2>
<form method="post" name="add_site" action="{{ url_for('admin.add_site', hacker_id=hacker.id) }}">
    <label for="site">Site: </label>
    <select name="site" id="site">
        {% for site in hacker.get_optional_sites() %}
            <option value="{{ site.short_name }}">{{ site.add_site_explanation }}</option>
        {% endfor %}
    </select><br>
    <input name="specific_username" type="text" placeholder="specific username"><br> If empty, default to normal username.
    <input type="submit" value="add site">
    <input name="token_csrf" type="hidden" value="{{ token_csrf }}">
</form>