<h2>Add site: </h2>
<form method="post" name="add_site" action="{{ url_for('admin.add_site') }}">
    <label for="username">Hacker: </label>
    <select name="username" id="username">
        {% for hacker in hackers %}
            <option value="{{ hacker.username }}">{{ hacker.username }}</option>
        {% endfor %}
    </select><br>
    <label for="site">Site: </label>
    <select name="site" id="site">
        {% for site in sites %}
            <option value="{{ site }}">{{ site }}</option>
        {% endfor %}
    </select><br>
    <input name="specific_username" type="text" placeholder="optional specific username"><br>
    <input type="submit" value="add site">
    <input name="token_csrf" type="hidden" value="{{ token_csrf }}">
</form>