<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit hackers - MeTaPeEn</title>
</head>
<body>
    <h1>Edit hackers</h1>
    <h2>Hackers: </h2>
    <table border="1">
        <tr>
            <th>id</th>
            <th>username</th>
            <th>total score</th>
            <th>accounts info</th>
        </tr>
        {% for hacker in hackers %}
            <tr>
                <td>{{ hacker.id }}</td>
                <td>{{ hacker.username }}</td>
                <td>{{ hacker.total_score }}</td>
                <td>{{ hacker.accounts_info }}</td>
            </tr>
        {% endfor %}
    </table>

    {% include "forms/add_hacker.html" %}
    {% include "forms/delete_hacker.html" %}
    {% include "forms/add_site.html" %}
    {% include "forms/delete_site.html" %}

</body>
</html>