<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hackers - MeTaPeEn</title>
</head>
<body>
    <h1>Hackers</h1>
    <table border="1">
        <tr>
            <th>id</th>
            <th>username</th>
            <th>total score</th>
            <th>accounts info</th>
            <th>edit</th>
        </tr>
        {% for hacker in hackers %}
            <tr>
                <td>{{ hacker.id }}</td>
                <td>{{ hacker.username }}</td>
                <td>{{ hacker.total_score }}</td>
                <td>
                    <table>
                        {% for account in hacker.accounts.all() %}
                            <tr>
                            <td>{{ account }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td><a href="{{ url_for('admin.edit_hacker', hacker_id=hacker.id) }}">edit</a></td>
            </tr>
        {% endfor %}
    </table>
    {% include "forms/add_hacker.html" %}

</body>
</html>