<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HKJL Metapeen</title>
</head>
<body>
    <h1>HkJl MeTaPeEn FiGhT</h1>
    <table border="1">
        <tr>
            <th>RaNk</th>
            <th>ScOrE</th>
            <th>PeRsOoN</th>
            <th>DeTaIlS</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.total_score }}</td>
                <td>{{ user.username }}</td>
                <td>
                    {% for account in user.accounts %}
                        {{ account.short_site_name }}: {{ account.score }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
