<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - MeTaPeEn</title>
</head>
<body>
    <h1>Login</h1>
    <!-- flashed messages like 'password incorrect -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <!-- login form -->
    <form method="post" name="login">
        <input name="username" type="text" placeholder="username"><br>
        <input name="password" type="password" placeholder="password"><br>
        <input type="submit" value="login">
    </form>
</body>
</html>
